<p id="notice"><%= notice %></p>

<h1>Medical Centers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Dirección</th>
      <th>Cant. Turnos</th>
      <th>Cant. Guardias</th>
      <th>Teléfono</th>
      <th>Tipo</th>
      <% if can? :mange, MedicalCenter %>
        <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @medical_centers.each do |medical_center| %>
      <tr>
        <td><%= medical_center.name %></td>
        <td><%= medical_center.description %></td>
        <td><%= medical_center.address %></td>
        <td><%= medical_center.appointments.size %></td>
        <td><%= medical_center.guards.size %></td>
        <td><%= medical_center.phone_number %></td>
        <td><%= medical_center.medical_center_type.name %></td>
        <% if can? :mange, MedicalCenter %>
          <td><%= link_to 'Show', medical_center %></td>
          <td><%= link_to 'Edit', edit_medical_center_path(medical_center) %></td>
          <td><%= link_to 'Destroy', medical_center, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medical Center', new_medical_center_path if can? :mange, MedicalCenter %>
