<p id="notice"><%= notice %></p>

<h1>CONSTANCIA DE TURNO</h1>
<p>
  <strong>Appointment date:</strong>
  <%= @appointment.appointment_date %>
</p>

<p>
  <strong>Worker:</strong>
  <%= @appointment.worker.full_name %>
</p>

<p>
  <strong>Medical center:</strong>
  <%= @appointment.medical_center.name %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
